/* Add this to your global styles or component styles */
.hover-card-container {
  transition: transform 0.5s ease-in-out; /* Adjust the duration for a slower zoom */
}

.hover-card-container:hover {
  transform: scale(1.1); /* Increase the scale value for more zoom */
}

.hover-card-container .hover-zoom img {
  transition: transform 0.5s ease-in-out; /* Adjust the duration for a slower zoom */
}
