/* Add this to your global styles or component styles */
.hover-card-container {
  transition: transform 0.5s ease-in-out; /* Adjust the duration for a slower zoom */
}

.hover-card-container:hover {
  transform: scale(1.1); /* Increase the scale value for more zoom */
}

.hover-card-container .hover-zoom img {
  transition: transform 0.5s ease-in-out; /* Adjust the duration for a slower zoom */
}

.discountRibbon {
  position: absolute;
  top: 54px;
  right: -96px;
  background-color: #ff9800;
  transform: rotate(45deg);
  border-radius: 5px;
  width: 316px;
  text-align: center;
}

.ribbonText {
  color: 'black';
  font-weight: bold;
  font-size: 22px;
}

@media (min-width: 375px) {
  .discountRibbon {
    /* Add your modified styles here */
    top: 56px;
    right: -90px;
  }
}

@media (min-width: 414px) {
  .discountRibbon {
    /* Add your modified styles here */
    top: 50px;
    right: -70px;
  }
}