/* Add this to your global styles or component styles */
.hover-card {
    transition: transform 0.5s ease-in-out; /* Adjust the duration for a slower zoom */
  }
  
  .hover-card:hover {
    transform: scale(1.1); /* Increase the scale value for more zoom */
  }
  
  .hover-zoom:hover img {
    transition: transform 0.5s ease-in-out; /* Adjust the duration for a slower zoom */
    transform: scale(1.1); /* Increase the scale value for more zoom */
  }
  